<li class="questions">
  <%= question.content %>
  <ol class="exam-question-answers">
    <% question.answers.each do |answer| %>
      <li class=<%= answer.correct? ? "correct" : "non-correct" %>><%= answer.content %></li>
    <% end %>
  </ol>
  <div class="buttons-container">
    <%= link_to t("questions.delete"), question_path(question), method: :delete, class: "btn btn-danger" %>
  </div>
</li>
